p {
  font-family: Lato;
}

.container {
  position: absolute;
  top: 5rem;
  left: 25rem;
  display: grid;
  place-content: center;
  overflow: hidden;
  text-align: center;

  padding: 10rem;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
}

.actions {
  display: flex;
  gap: 0.3rem;
  margin-top: 2em;
}

.value {
  background-color: rgba(219, 219, 219, 0.76);
  padding-inline: 1rem;
  padding-block: 0.7em;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}
